.starter{
    background-image: url("../../../assets/images/landing-starter.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 100vh;
}
.starter .white{
    color: white;
    text-shadow: 0.1em 0.1em gray;
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgba(209, 199, 199, 0.5);
    padding: 0.5%;
    height: 62px;
}
.starter .form{
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    background-color:  rgba(209, 199, 199, 0.5);
    padding: 3%;
    width: 70%;
    margin-top: 60vh;
    height:auto;
    float: right;
    border-radius:2px;
}

