<div class="starter">
  <div class="container">
    <br>
    <br>
    <div class="row">
      <div class="col-lg-3 white">
        <div class="row">
          <div class="col-3">
            <img src="../../../assets/images/logo.png" alt="" width="50px" height="50px">
          </div>
          <div class="col-8">
            <h1>SIMEP</h1>
          </div>
        </div>
      </div>
      <div class="col-lg-2">

      </div>
      <div class="col-lg-7">
      
        <div class="form">
          <button type="button" class="btn btn-primary btn-lg btn-block" (click)="login()">Iniciar Sesión</button>
     <!--      <hr>
          <button type="button" class="btn btn-success btn-lg btn-block" disabled="true" (click)="signIn()">Registrate</button>
      -->   </div>
      </div>
    </div>

  </div>
</div>