<div class="row float" *ngIf="showList">
    <div class="input-group" style="width: 100%;margin:2px 0px 2px 0px">
        <input type="text" class="form-control" placeholder="Nombre..." aria-label="Recipient's username" aria-describedby="button-addon2" [(ngModel)]="searchbar" name="searchbar" (ngModelChange)="search()">
      </div>
      <div class="list-group" style="width: 100%;">
        <a class="list-group-item list-group-item-action flex-column align-items-start" *ngFor="let list of array" (mouseover)="center(list.lat,list.long)">
          <div class="d-flex w-100 justify-content-between">
            <h5 class="mb-1">{{list.mensajero.nombre}}  {{list.mensajero.apellidos}}</h5>
            <small>{{list.ubicacion}}</small>
          </div>
          <p class="mb-1">{{list.observaciones}}</p>
          <small>{{list.mensajero.observaciones}}</small>
        </a>
      </div>

</div>
<div class="row help">
  <div class="col-9 txt">
    <h5>¡Abreme, soy útil!</h5>
  </div>
  <div class="col-2 imagen" (click)="show()">

  </div>
</div>
<agm-map [latitude]="lat" [longitude]="lng" [zoom]="13" [mapDraggable]="true">
    <agm-marker *ngFor="let data of array" [latitude]="data.lat" [longitude]="data.long" [iconUrl]="messager"></agm-marker>
    <agm-marker *ngFor="let datadetail of array" [latitude]="datadetail.receptor.lat" [longitude]="datadetail.receptor.long" [iconUrl]="locate"></agm-marker>
</agm-map>