.espacios{
    background-color:rgb(248, 248, 248);
    width: 97%;
    height: auto;
    margin-top:15px;
    border-radius:7px;
    padding:10px;
    margin-left:auto;
    margin-right:auto;
  }
  .floating-alert{
    z-index: 1;
     position: fixed;
     width: 40%;
     margin-left:43.5%;
     margin-top:80vh;
     height: 80px;
     min-width: 300px;
 }