<div class="container espacios">
  
  <div class="row">
    <div class="col-lg-6">
      <label for="staticEmail2" class="sr-only"></label>
      <input type="text" readonly class="form-control-plaintext" id="staticEmail2" value="Elegír usuario">
    </div>
    <div class="col-lg-4">
      <label for="inputPassword2" class="sr-only"></label>
      <select required class="form-control" id="inputGen" name="genero" >
        <option value="" disabled selected>Choose ...</option>
        <option>MASCULINO</option>
        <option>FEMENINO</option>
      </select>
    </div>
    <div class="col-lg-2"><button class="btn btn-primary mb-2" type="button">Siguiente</button></div>
    
  </div>
</div>