@import url("./../node_modules/ag-grid/dist/styles/ag-grid.css"); /* Using a url */
@import url("./../node_modules/ag-grid/dist/styles/ag-theme-balham.css"); /* Using a url */
body{
    background-color:rgb(221, 215, 215);
    min-width:800px;        /* Suppose you want minimum width of 1000px */
    width: auto !important;  /* Firefox will set width as auto */
        
}

/* Let's get this party started */
::-webkit-scrollbar {
    width: 6px;
    height: 7px;
}
 
/* Track */
::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3); 
    -webkit-border-radius: 10px;
    border-radius: 10px;
}
 
/* Handle */
::-webkit-scrollbar-thumb {
    -webkit-border-radius: 10px;
    border-radius: 10px;
    background: rgba(105, 105, 105, 0.8); 
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5); 
}
::-webkit-scrollbar-thumb:window-inactive {
	background: rgba(105, 105, 105, 0.4); 
}

