<div class="row right">
    <h5>Menú Principal</h5>
</div>
<div class="categories">
    <h6>Gestión</h6>
    <hr>
    <ul class="list-group txt-normal">

        <li class="list-group-item d-flex justify-content-between align-items-center hover-tag" (click)="goTo(1)">
            Dashboard
        </li>
        <li class="list-group-item d-flex justify-content-between align-items-center hover-tag" (click)="goTo(2)">
            Mapa
        </li>
        <li class="list-group-item d-flex justify-content-between align-items-center hover-tag" (click)="goTo(3)">
            Cargar Paquete
        </li>
        <li class="list-group-item d-flex justify-content-between align-items-center hover-tag" (click)="goTo(4)">
            Asignar Paquete
        </li>
    </ul>
</div>
<div class="categories">
    <br>
       <h6>Configuración</h6> 
       <hr>
<ul class="list-group txt-normal">
    
    <li class="list-group-item d-flex justify-content-between align-items-center hover-tag" (click)="closeSession()">
        Cerrar sesión
    </li>
</ul>
</div>