.hover-tag:hover{
    background-color: darkgray;
    color: white;
}
.txt-normal{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 10pt;
    width: 99%;
}
.categories{
    margin-left:4%;
    margin-top:5%;
    margin-right:auto;
    width: 90%;
}
.right{
    margin-left:0px;
    width: 100%;
    height: 49px;
    background-color: rgb(23, 93, 121);
    padding:7px;
    color:white
}